# Intellij
.idea/
*.iml
*.iws
out
data

# Mac
.DS_Store

# Maven
log/
target/
*.log

# Gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
**/build/
docker/data
docker/data_